body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

h1 {
  font-family: "Oxygen";
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-image: url(./resources/header-bg.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-bottom: 100px;
}
header .effect-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
}
header h1 {
  color: white;
  font-size: 72px;
  font-weight: 700;
}
header h1.over {
  animation: text-shadow 1.5s ease-in-out infinite;
  animation-play-state: paused;
  animation-play-state: running;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
section.intro p {
  max-width: 500px;
}
section.portifolio {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
}
.card {
  overflow: hidden;
  position: relative;
  height: 500px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 40%);
}
.card:hover .overlay,
.card:in-viewport .overlay {
  opacity: 0.15;
}
.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;

  transition: 500ms ease-in-out;
}
.card.movie {
  background-image: url(./resources/movie-list.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card.weather {
  background-image: url(./resources/weather-app.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}
footer .social {
  width: 30px;
  height: 30px;
}
@media (min-width: 640px) {
  section.container {
    width: 750px;
  }
  section.portifolio {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  section.container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  section.container {
    width: 1170px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}
